package org.example

class Record(#foreach( $col in $cols )private val $col.columnName: String#if( $foreach.hasNext ), #end#end) {
    override fun toString(): String {
        return "Record {#foreach( $col in $cols )$col.columnName='$$col.columnName'#if( $foreach.hasNext ), #end#end}"
    }
}